/**************************
    GENERAL
***************************/
$white: #ffffff;
$black: #1C1C1C;
$mid_gray: #8f8f8f;
$light_gray: #bfbfbf;


/**************************
   BACKGROUND
***************************/
$bkg_blue: #0E0824;
$bkg_purple: #291240;

$vscode:#24283b;

/**************************
   COLOR
***************************/

$main_color: #BB2649;





$range: #FF931F;
$light_blue: #47F3FF;
$dark_blue: #293FA3;
$matrix_green: #47fb37;
$dark_green: #229641;
$pink: #DF01C5;
$yellow: #FDFE00;

